@tailwind base;
@tailwind components;
@tailwind utilities;

.error-toast {
  background-color: red;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Customize the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 10px;
  height: 30px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #357abd; /* Customize the color when hovered */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* Customize the track color */
}
